body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  font-family: "Bitter", serif;
  color: #fff;
}

h1 {
  margin: 20px 15px 0;
}

h2 {
  margin: 3px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: rgba(49, 123, 163, 0.8);
  border-bottom: 2px solid rgba(49, 123, 163, 0.8);
}

.display-general {
  margin: 0 auto;
  height: calc(100vh - 34px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.week-weather {
  font-size: 12px;
  white-space: nowrap;
  display: flex;
  padding-bottom: 40px;
  letter-spacing: 1px;
}

.real-time .todays-week,
.time-now {
  font-size: 16px;
  letter-spacing: 5px;
}

.weather-description {
  max-width: fit-content;
  font-size: 13px;
  letter-spacing: 1px;
}

.hourly-forecast {
  font-size: 11px;
  white-space: nowrap;
  display: flex;
}

.time {
  padding: 5px;
  letter-spacing: 1px;
  line-height: 2px;
}

.container-search {
  margin: 0 auto;
  padding: 42px 0 5px;
  text-align: center;
}

.container-search input {
  background: #fff;
  border: 4px solid #30cfd0;
  border-radius: 15px;
  color: #30cfd0;
  display: inline-block;
  padding: 8px;
  text-align: center;
  cursor: text;
}

.container-search input:hover {
  background: #35c0c0;
  color: #fff;
}

.container-btn {
  width: 100%;
  text-align: center;
}

.footer {
  display: inline-block;
  flex-shrink: 0;
  text-align: center;
  width: 100%;
}

#geo-location {
  margin: 0 auto;
  display: inline-block;
  padding: 2px 44px;
  background: #30cfd0;
  border: 4px solid #30cfd0;
  border-radius: 200px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

#geo-location:hover {
  box-shadow: 0 5px 16px 0 rgba(255, 255, 255, 0.24);
}
